# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production.local

# Build output
dist/

# Cache
.eslintcache

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/
.vercel
.env*.local
